@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #232327;
  color: #fff;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  width: 30rem;
  height: 60rem;
}
.container .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .player .name {
  font-size: 2rem;
  font-family: "Shadows Into Light", cursive;
}
.container .left-game {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  font-family: "Shadows Into Light", cursive;
}
.container .tic-tak-toe-container {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .tic-tak-toe-container .tic-tak-toe {
  background-color: #232327;
}
.container .tic-tak-toe-container .tic-tak-toe ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 40rem;
}
.container .tic-tak-toe-container .tic-tak-toe ul li {
  display: flex;
  flex: 1;
  height: 100%;
}
.container .tic-tak-toe-container .tic-tak-toe ul li span {
  background-color: #000;
  display: inline-block;
  flex: 1;
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-family: "Shadows Into Light", cursive;
}
.container .tic-tak-toe-container .tic-tak-toe ul li .border {
  margin-left: 5px;
  margin-right: 5px;
}
.container .tic-tak-toe-container .tic-tak-toe ul hr {
  margin: 3px;
  border: none;
  background-color: transparent;
}